<button class="btn btn-success">teste</button>

<a href="/admin/categorias">
<button class="btn btn-success">categorias</button>
</a>

<a href="/admin/postagens">
<button class="btn btn-success">postagens</button>
</a>

